@model IEnumerable<GIFU.Models.Notification>
    @if (Model != null && Model.Count() != 0)
    {
        <p id="unReadCount" style="display:none">@Model.First().UnReadCount</p>
    }
@foreach (var item in Model)
{
    if (@item.IsRead == "T")
    {
        <li class="readnotice">
            <a href="@item.Url">
                <img @("src=" + item.ImageUrl) class="" alt="@item.GoodId">
                <pre>@Html.Raw(@item.Content)</pre>
                @*<p href="@item.Url">前往<span class="glyphicon glyphicon-chevron-right"></span></p>*@
            </a>
        </li>
    }
    else
    {
        <li class="notreadnotice">
            <a href="@item.Url">
                <img @("src=" + item.ImageUrl) class="" alt="@item.GoodId">
                <pre>@Html.Raw(@item.Content)</pre>
                @*<p href="@item.Url">前往<span class="glyphicon glyphicon-chevron-right"></span></p>*@
            </a>
        </li>
    }
}
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NotificationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiveId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoodId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.NotificationId)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.ReceiveId)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.SendId)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Content)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.GoodId)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Url)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Time)
                </th>
            </tr>
        }

    </table>*@
