@{
    ViewBag.Title = "ManageGoods";
}
<link href="/Content/ManageGoods.css" rel="stylesheet" type="text/css" />
<div class="col-md-8 info-detail">
    <div class="row">
        <div class="col-md-12 page-title">
            <h1>物品管理</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="/images/add-button.svg" id="add-icon" data-toggle="modal" data-target="#addGoodsModal" />
        </div>
    </div>
    <div class="goods-area">

        @foreach (var item in (List<GIFU.Models.Goods>)ViewBag.Goods)
        {
            <div class="goods-box" id=@("goods-box-" + item.GoodId)>
                <!--item.GoodsId-->
                <img class="goods-img" src=@item.PicPath />
                <div class="modify-overlay" data-toggle="modal" data-target="#modifyGoodsModal" onclick="GetModifyGoodsInfo(@item.GoodId)">
                    <div class="text">編輯</div>
                </div>
                <div class="check-overlay" data-toggle="modal" data-target="#checkGoodsModal" onclick="GetCheckGoodsInfo(@item.GoodId)">
                    <div class="text">查看</div>
                </div>
                <div class="goods-info">
                    <span class="goods-name">@item.Title</span>
                    <span class="goods-new-degree">@item.NewDegree</span>
                    <span class="goods-amount">@item.Amount</span>
                    <span class="goods-tag1">@item.Tag1</span>
                    <span class="goods-tag1-name">@item.Tag1Name</span>
                    <span class="goods-tag2">@item.Tag2</span>
                    <span class="goods-tag2-name">@item.Tag2Name</span>
                    <span class="goods-is-reason">@item.IsReason</span>
                    <span class="goods-update-date">@item.UpdateDate</span>
                    <span class="goods-intro">@item.Introduction</span>
                </div>
            </div>
        }
    </div>
</div>

<!-- Add Goods Modal -->
<div class="modal fade" id="addGoodsModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">新增物品資料</h4>
            </div>
            <form id="addGoodsForm">
                <div class="modal-body manage-goods-modal">

                    <div class="row">
                        <div class="col-md-12 goods-modal-info">
                            <div class="form-group">
                                <label for="inputImg" style="background-color:#eeeeee; margin: 0; font-size:1.5rem; color: black; padding: 6px 12px; line-height: 1; border: 1px solid #cccccc; border-bottom: 0; border-top-right-radius: 4px; border-top-left-radius: 4px;">上傳圖片: </label>
                                <input type="file" accept="image/*" class="filestyle" id="add-goods-img" name="files" style="font-size:1.5rem; padding: 5px 5px; color: black; line-height: 1; border: 1px solid #cccccc; border-radius: 4px; border-top-left-radius: 0; width: 100%;" multiple required>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">物品名稱: </span>
                                <input type="text" class="form-control" id="add-goods-name" name="Title" placeholder="" onchange="isFillOut()" required>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">新舊程度: </span>
                                <select class="form-control" id="add-goods-new-degree" name="NewDegree" onchange="isFillOut()" required>
                                    <option style="display:none;" selected></option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                                <span class="input-group-addon">成新</span>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">數量: </span>
                                <input type="number" min="1" class="form-control" id="add-goods-amount" name="Amount" placeholder="" aria-label="Amount (to the nearest dollar)" onchange="isFillOut()" required>
                                <span class="input-group-addon">個</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group col-md-6">
                            <span class="input-group-addon">分類:</span>
                            <select class="form-control" id="add-goodsTag1" name="Tag1" onchange="isFillOut()" required>
                                <option selected style="display: none;"></option>
                                <option value="3C">3C產品</option>
                                <option value="GC">生活雜貨</option>
                                <option value="CL">男女服飾</option>
                                <option value="SN">文具書籍</option>
                                <option value="GM">電玩相關</option>
                                <option value="OT">其他</option>
                            </select>
                        </div>
                        <div class="input-group col-md-6">
                            <span class="input-group-addon">子分類:</span>
                            <select class="form-control" id="add-goodsTag2" name="Tag2" onchange="isFillOut()"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 input-group">
                            <span class="input-group-addon">索取者是否需填寫理由: </span>
                            <select class="form-control" id="add-goods-is-reason" name="IsReason" onchange="isFillOut()" required>
                                <option style="display:none;" selected></option>
                                <option value="F">否</option>
                                <option value="T">是</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 input-group">
                            <label for="goods-intro" style="background-color:#eeeeee; margin: 0; font-size:1.5rem; color: black; padding: 6px 12px; line-height: 1; border: 1px solid #cccccc; border-bottom: 0; border-top-right-radius: 4px; border-top-left-radius: 4px;">介紹: </label>
                            <textarea class="form-control" style="border-bottom-left-radius: 4px; resize: none;" id="add-goods-intro" name="Introduction" rows="6" placeholder="請您輸入物品介紹." maxlength="500"></textarea>
                        </div>
                        <p class="input-number-notify" style="display: none;"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                    <button id="add-goods-button" type="submit" class="btn btn-success" disabled>新增</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Modify Goods Modal -->
<div class="modal fade" id="modifyGoodsModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">修改物品資料</h4>
            </div>
            <form id="modifyForm">
                <div class="modal-body manage-goods-modal">
                    <div class="row">
                        <div class="col-md-12 goods-modal-info">
                            <div class="input-group">
                                <span id="modify-goods-id" style="display: none;"></span>
                                <span class="input-group-addon">物品名稱: </span>
                                <input type="text" class="form-control" id="modify-goods-name" name="Title" onchange="isModify()" required>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">新舊程度: </span>
                                <select class="form-control" id="modify-goods-new-degree" name="NewDegree" onchange="isModify()" required>
                                    <option style="display:none;" selected></option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                                <span class="input-group-addon">成新</span>
                            </div>
                            <div>
                                <div class="input-group">
                                    <span class="input-group-addon">數量: </span>
                                    <input type="number" min="1" class="form-control" id="modify-goods-amount" name="Amount" placeholder="" aria-label="Amount (to the nearest dollar)" onchange="isModify()" required>
                                    <span class="input-group-addon">個</span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group col-md-6">
                            <span class="input-group-addon">分類:</span>
                            <select class="form-control" id="modify-goods-tag1" name="Tag1" onchange="isModify()" required>
                                <option selected style="display: none;"></option>
                                <option value="3C">3C用品</option>
                                <option value="GC">生活雜貨</option>
                                <option value="CL">男女服飾</option>
                                <option value="SN">文具書籍</option>
                                <option value="GM">電玩相關</option>
                                <option value="OT">其他</option>
                            </select>
                        </div>
                        <div class="input-group col-md-6">
                            <span class="input-group-addon">子分類:</span>
                            <select class="form-control" id="modify-goods-tag2" name="Tag2" onchange="isModify()" required></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 input-group">
                            <span class="input-group-addon">索取者是否需填寫理由: </span>
                            <select class="form-control" id="modify-goods-is-reason" name="IsReason" onchange="isModify()">
                                <option style="display: none" selected></option>
                                <option value="F">否</option>
                                <option value="T">是</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 input-group">
                            <label for="modify-goods-intro" style="background-color:#eeeeee; margin: 0; font-size:1.5rem; color: black; padding: 6px 12px; line-height: 1; border: 1px solid #cccccc; border-bottom: 0; border-top-right-radius: 4px; border-top-left-radius: 4px;">介紹: </label>
                            <textarea class="form-control" style="border-bottom-left-radius: 4px; resize: none;" id="modify-goods-intro" name="Introduction" rows="6" placeholder="請您輸入物品介紹." maxlength="500"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                    <button id="modify-goods-modify-button" class="btn btn-success" type="submit">修改</button> @*value = goodsId*@
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Check Modal -->
<div class="modal fade" id="checkGoodsModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">申請名單</h4>
            </div>
            <div class="modal-body checkGoodsModalInfo">
                <div class="row check-goods-info">
                    <div class="col-md-5 col-md-offset-1">
                        <img id="check-goods-img" src="/images/1/1.jpg" alt="" />
                    </div>
                    <div class="col-md-6">
                        <table>
                            <tr>
                                <th>物品名稱: </th>
                                <td id="check-goods-name"></td>
                            </tr>
                            <tr>
                                <th>新舊程度: </th>
                                <td id="check-goods-new-degree"></td>
                            </tr>
                            <tr>
                                <th>贈與數量: </th>
                                <td id="check-goods-amount"></td>
                            </tr>
                            <tr>
                                <th>分類: </th>
                                <td id="check-goods-tag1-name"></td>
                            </tr>
                            <tr>
                                <th>子分類: </th>
                                <td id="check-goods-tag2-name"></td>
                            </tr>
                            <tr>
                                <th>是否需理由: </th>
                                <td id="check-goods-is-reason"></td>
                            </tr>
                            @*<tr>
                                <th>刊登日期: </th>
                                <td id="check-goods-place-time"></td>
                            </tr>*@
                            <tr>
                                <th>修改日期: </th>
                                <td id="check-goods-update-date"></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row check-goods-applier-info">
                    <div class="col-xs-12 col-sm-3 col-md-3" style="height: 100%;">
                        <img src="/images/profile_pic1.svg" alt="" />
                        <p class="check-goods-applier-name">申請人: <span>蕭煌奇</span></p>

                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9">
                        <pre class="check-goods-applier-reason">你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好</pre>
                        <div class="check-goods-applier-status">
                            <button type="button" class="btn btn-success check-goods-applier-accept">贈予</button>
                            <button type="button" class="btn btn-danger check-goods-applier-reject">拒絕</button>
                        </div>
                    </div>
                </div>
                <div class="row check-goods-applier-info">
                    <div class="col-xs-12 col-sm-3 col-md-3" style="height: 100%;">
                        <img src="/images/profile_pic1.svg" alt="" />
                        <p class="check-goods-applier-name">申請人: <span>蕭煌奇</span></p>

                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9">
                        <pre class="check-goods-applier-reason">你好你好你好你好你好你好你好你好</pre>
                        <div class="check-goods-applier-status">
                            <button type="button" class="btn btn-success check-goods-applier-accept">贈予</button>
                            <button type="button" class="btn btn-danger check-goods-applier-reject">拒絕</button>
                        </div>
                    </div>
                </div>
                <div class="row check-goods-applier-info">
                    <div class="col-xs-12 col-sm-3 col-md-3" style="height: 100%;">
                        <img src="/images/profile_pic1.svg" alt="" />
                        <p class="check-goods-applier-name">申請人: <span>蕭煌奇</span></p>

                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9">
                        <pre class="check-goods-applier-reason">你好你好你好你好你好你好你好你好</pre>
                        <div class="check-goods-applier-status">
                            <button type="button" class="btn btn-success check-goods-applier-accept">贈予</button>
                            <button type="button" class="btn btn-danger check-goods-applier-reject">拒絕</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="apply-modal-close" type="button" class="btn btn-info" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/manageGoods.js"></script>