<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/simpleCart.min.js"> </script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-notify.js"></script>
    <script type="text/javascript" src="~/Scripts/common.js"></script>
</head>
<body>
    <!--header-->
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="top-right">
                    <ul style="position:relative;">
                        <li class="text"><a href="/Store/GoodsSearch?tag1=">查看商品<span class="glyphicon glyphicon-zoom-in"></span><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                        @{
                            if (Session["username"] == null)
                            {
                                <li class="text"><a href="#" id="login">login</a></li>
                            }
                            else
                            {
                                <li class="text" id="accountimginfo" onclick="SlideDownFunction()">
                                    <a href="#"><img src="/images/accountphoto.png" class="accountphoto">@Session["username"]</a>
                                    @*<input type="hidden" id="userId" value="@Session["userId"]">*@
                                    <p id="userId" style="display:none">@Session["userId"]</p>
                                </li>
                                <ul id="accountfunction" style="display:none;">
                                    <li>管理個人</li>
                                    <li>管理商品</li>
                                    <li>管理訂單</li>
                                    <li><a id="signout" href="#">登出</a></li>
                                </ul>
                            }
                        }
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <!--/.content-->
                <div class="content white">
                    <nav class="navbar navbar-default" role="navigation" style="z-index:0;">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h1 class="navbar-brand"><a href="/Store/Index">GIFU</a></h1>
                        </div>
                        <!--/.navbar-header-->

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="/Store/GoodsSearch?tag1=3C" onclick="location.reload()">3C用品</a>
                                </li>
                                <li class="dropdown">
                                    <a href="/Store/GoodsSearch?tag1=GC" onclick="location.reload()">生活雜貨</a>
                                </li>
                                <li class="dropdown">
                                    <a href="/Store/GoodsSearch?tag1=CL" onclick="location.reload()">男女服飾</a>
                                </li>
                                <li class="dropdown">
                                    <a href="/Store/GoodsSearch?tag1=SN" onclick="location.reload()">文具書籍</a>
                                </li>
                                <li class="dropdown">
                                    <a href="/Store/GoodsSearch?tag1=GM" onclick="location.reload()">電玩相關</a>
                                </li>
                                <li class="dropdown">
                                    <a href="/Store/GoodsSearch?tag1=OT" onclick="location.reload()">其他</a>
                                </li>
                                <!-- <li><a href="products.html">Top</a></li>
                                <li><a href="products.html">Bikini</a></li> -->
                            </ul>
                        </div>
                        <!--/.navbar-collapse-->
                    </nav>
                    <!--/.navbar-->
                </div>
                <div class="search-box">
                    <div id="sb-search" class="sb-search">
                        <form action="/Store/GoodsSearch" method="get" id="searchForm">
                            <input class="sb-search-input" placeholder="搜尋..." type="search" name="search" id="search">
                            <input class="sb-search-submit" type="button" id="searchSubmitButton">
                            <a href="/Store/GoodsSearch" id="searchbutton"><span class="sb-icon-search"></span></a>
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--header-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <!--footer-->
        <div class="footer-section">
            <div class="container">
                <div class="footer-grids">
                    <div class="col-md-2 footer-grid">
                        <h4>商品分類</h4>
                        <ul>
                            <li><a href="products.html">3C用品</a></li>
                            <li><a href="#">生活雜貨</a></li>
                            <li><a href="#">男女服飾</a></li>
                            <li><a href="#">文具書籍</a></li>
                            <li><a href="#">電玩相關</a></li>
                            <li><a href="#">其他商品</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 footer-grid">
                        <h4>會員中心</h4>
                        <ul>
                            <li><a href="#">基本資料</a></li>
                            <li><a href="#">商品管理</a></li>
                            <li><a href="#">訂單管理</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 footer-grid">
                        <h4>關於我們</h4>
                        <ul>
                            <li><a href="#">主要理念</a></li>
                            <li><a href="#">未來展望</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 footer-grid">
                        <h4>加入我們</h4>
                        <ul>
                            <li><a href="#">前端設計</a></li>
                            <li><a href="#">後端管理</a></li>
                            <li><a href="#">活動企劃</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 footer-grid1">
                        <div class="social-icons">
                            <a href="#"><i class="icon"></i></a>
                            <a href="#"><i class="icon1"></i></a>
                            <a href="#"><i class="icon2"></i></a>
                            <a href="#"><i class="icon3"></i></a>
                            <a href="#"><i class="icon4"></i></a>
                        </div>
                        <p>Copyright &copy; 2017 NTUT CSIE Project | Design by <a href="http://w3layouts.com">宗穎&nbsp;顥旻&nbsp;晉名&nbsp;鴻仁</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--footer-->
    </div>
    <div class="scrollTopArea">
        <span class="glyphicon glyphicon-chevron-up" id="arrowup1"></span>
        <span class="glyphicon glyphicon-chevron-up" id="arrowup2"></span>
        <button class="scrollTopButton" onclick="ScrollTop()" id="scrollTopButton">Top</button>
    </div>
</body>
</html>
<script type="text/javascript">
    $('#searchbutton').click(function (e) {
        e.preventDefault();
        $('#sb-search').addClass('sb-search-open');
    });
    $('#searchSubmitButton').click(function (e) {
        if ($('#search').val() != "") {
            console.log($('#search').val());
            $('#searchForm').submit();
        }
        $('#sb-search').removeClass('sb-search-open');
    });

    $('#accountfunction').width($('#accountimginfo').outerWidth());
    var signOutUrl = '/Account/SignOut?ReturnUrl=' + encodeURIComponent(window.location.pathname);
    var loginUrl = '/Account/Login?ReturnUrl=' + encodeURIComponent(window.location.pathname);

    function SlideDownFunction() {
        $('#accountfunction').slideToggle(300);
    }

    $('#signout').click(function (e) {
        e.preventDefault();
        window.location.replace(signOutUrl);
    });

    $('#login').click(function (e) {
        e.preventDefault();
        window.location.replace(loginUrl);
    });

    $('#scrollTopButton').hover(function () {
        console.log("!!");
        $('#arrowup2').css('visibility', 'visible');
        $('#arrowup1').css('visibility', 'visible');
    }, function () {
        $('#arrowup1').css('visibility', 'hidden');
        $('#arrowup2').css('visibility', 'hidden');
    });

    $(window).scroll(function () {
        if (window.pageYOffset > 200) {
            $('.scrollTopArea').fadeIn();
        }
        else
            $('.scrollTopArea').fadeOut();
    });

    function ScrollTop() {
        $('html,body').animate({ scrollTop: 0 }, 600);
    }
</script>