<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/animate.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    @RenderSection("css", required: false)
    <script src="~/Scripts/simpleCart.min.js"> </script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-notify.js"></script>
    <script type="text/javascript" src="~/Scripts/common.js"></script>
</head>
<body>
    <!--header-->
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="top-right">
                    <ul class="headerFunctionList">
                        <li class="text"><a href="/Store/GoodsSearch?tag1=">查看物品<span class="glyphicon glyphicon-zoom-in"></span><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                        @{
                            if (Session["username"] == null)
                            {
                                <li class="text"><a href="#" id="login">login</a></li>
                            }
                            else
                            {
                                <li class="text" id="accountNotice" onclick="SlideDownNotice()">
                                    <a href="#"><img src="/images/bellImage.png"></a>
                                    <p id="accountNoticeNumber" class="animated infinite jello">2</p>
                                </li>
                                <ul id="accountNoticeList" class="hidescrollbar" style="display:none;">
                                    @*通知*@
                                </ul>
                                <li class="text" id="accountimginfo" onclick="SlideDownFunction()">
                                    <a href="#"><img src="/images/accountphoto.png" class="accountphoto">@Session["username"]</a>
                                    @*<input type="hidden" id="userId" value="@Session["userId"]">*@
                                    <p id="userId" style="display:none">@Session["userId"]</p>
                                </li>
                                <ul id="accountfunction" style="display:none;">
                                    <li><a href="/Account/ManageInfo"><img src="/images/personalInfoImage.png"><p>管理個人</p></a></li>
                                    <li><a href="/Account/ManageGoods"><img src="/images/goodsImage.png"><p>管理物品</p></a></li>
                                    <li><a href="/Account/ManageOrders"><img src="/images/orderImage.png"><p>管理訂單</p></a></li>
                                    <li><a href="#" id="signout"><img src="/images/signoutImage.png"><p>登出</p></a></li>
                                </ul>
                            }
                        }
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <!--/.content-->
                <div class="content white">
                    <nav class="navbar navbar-default" role="navigation" style="z-index:0;">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div id="headersearch">
                                <div class="sb-search">
                                    <form action="/Store/GoodsSearch" method="get">
                                        <input class="sb-search-input" placeholder="搜尋..." type="search" name="search" onclick="event.stopPropagation()">
                                        <input class="sb-search-submit" type="button">
                                        <a href="/Store/GoodsSearch" class="searchbutton"><span class="sb-icon-search"></span></a>
                                    </form>
                                </div>
                            </div>
                            <h1 class="navbar-brand"><a href="/Store/Index">GIFU</a></h1>
                        </div>
                        <!--/.navbar-header-->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="/Store/GoodsSearch?tag1=3C" onclick="location.reload()">3C用品</a>
                                </li>
                                <li class="dropdown">
                                    <a href="/Store/GoodsSearch?tag1=GC" onclick="location.reload()">生活雜貨</a>
                                </li>
                                <li class="dropdown">
                                    <a href="/Store/GoodsSearch?tag1=CL" onclick="location.reload()">男女服飾</a>
                                </li>
                                <li class="dropdown">
                                    <a href="/Store/GoodsSearch?tag1=SN" onclick="location.reload()">文具書籍</a>
                                </li>
                                <li class="dropdown">
                                    <a href="/Store/GoodsSearch?tag1=GM" onclick="location.reload()">電玩相關</a>
                                </li>
                                <li class="dropdown">
                                    <a href="/Store/GoodsSearch?tag1=OT" onclick="location.reload()">其他</a>
                                </li>
                            </ul>
                        </div>
                        <!--/.navbar-collapse-->
                    </nav>
                    <!--/.navbar-->
                </div>
                <div class="search-box">
                    <div class="sb-search">
                        <form action="/Store/GoodsSearch" method="get" class="searchForm">
                            <input class="sb-search-input" placeholder="搜尋..." type="search" name="search" onclick="event.stopPropagation()">
                            <input class="sb-search-submit" type="button">
                            <a href="/Store/GoodsSearch" class="searchbutton"><span class="sb-icon-search"></span></a>
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--header-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <!--footer-->
        <div class="footer-section">
            <div class="container">
                <div class="footer-grids">
                    <div class="col-md-2 footer-grid">
                        <h4>物品分類</h4>
                        <ul class="footerularea">
                            <li><a href="Store/GoodsSearch?tag1=3C">3C用品</a></li>
                            <li><a href="Store/GoodsSearch?tag1=GC">生活雜貨</a></li>
                            <li><a href="Store/GoodsSearch?tag1=CL">男女服飾</a></li>
                            <li><a href="Store/GoodsSearch?tag1=SN">文具書籍</a></li>
                            <li><a href="Store/GoodsSearch?tag1=GM">電玩相關</a></li>
                            <li><a href="Store/GoodsSearch?tag1=OT">其他物品</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 footer-grid">
                        <h4>會員中心</h4>
                        <ul class="footerularea">
                            <li><a href="/Account/Register">註冊會員</a></li>
                            <li><a href="/Account/Login">立即登錄</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 footer-grid">
                        <h4>關於我們</h4>
                        <ul class="footerularea">
                            <li><a href="#">主要理念</a></li>
                            <li><a href="#">未來展望</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 footer-grid">
                        <h4>加入我們</h4>
                        <ul class="footerularea">
                            <li><a href="#">前端設計</a></li>
                            <li><a href="#">後端管理</a></li>
                            <li><a href="#">活動企劃</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 footer-grid1">
                        <div class="social-icons">
                            <a href="#"><i class="icon"></i></a>
                            <a href="#"><i class="icon1"></i></a>
                            <a href="#"><i class="icon2"></i></a>
                            <a href="#"><i class="icon3"></i></a>
                            <a href="#"><i class="icon4"></i></a>
                        </div>
                        <p>Copyright &copy; 2017 NTUT CSIE Project | Design by <a href="http://w3layouts.com">宗穎&nbsp;顥旻&nbsp;晉名&nbsp;鴻仁</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--footer-->
    </div>
    <div class="scrollTopArea">
        <span class="glyphicon glyphicon-chevron-up" id="arrowup1"></span>
        <span class="glyphicon glyphicon-chevron-up" id="arrowup2"></span>
        <button class="scrollTopButton" onclick="ScrollTop()" id="scrollTopButton">Top</button>
    </div>
</body>
</html>
@RenderSection("scripts", required: false)
@if (Session["username"] != null)
{
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
}
<script>
    var signOutUrl = '/Account/SignOut?ReturnUrl=' + encodeURIComponent(window.location.pathname);
    var loginUrl = '/Account/Login?ReturnUrl=' + encodeURIComponent(window.location.pathname);
    @if (Session["username"] != null)
    {
        <text>
    $(document).ready(function () {
        //調整使用者功能區域寬度
        ResizeAccountFunctionUlWidth()

        // Declare a proxy to reference the hub.
        var notifications = $.connection.messagesHub;

        // Create a function that the hub can call to broadcast messages.
        notifications.client.updateMessages = function () {
            GetAllMessages();
        };
        // Start the connection.
        $.connection.hub.start().done(function () {
            GetAllMessages();
        }).fail(function (e) {
            console.log(e);
        });
    });

    function GetAllMessages() {
        var tbl = $('#accountNoticeList');
        //var tbl = $('#messagesTable');
        console.log("Update");
        $.ajax({
            url: '/Account/GetMessagesById',
            //contentType: 'application/html ; charset:utf-8',
            type: 'POST',
            dataType: 'html',
            data: { userId: @Session["userId"] }
        }).success(function (result) {
            tbl.empty().append(result);
            $('#accountNoticeNumber').text($('#unReadCount').text());
            if($('#unReadCount').text() > 0){
                $('#accountNoticeNumber').fadeIn();
            }
        }).error(function (error) {
            console.log(error);
        });
    }
    </text>
    }

    //設定登出
    $('#signout').click(function (e) {
        e.preventDefault();
        window.location.replace(signOutUrl);
    });
    //設定登入
    $('#login').click(function (e) {
        e.preventDefault();
        window.location.replace(loginUrl);
    });
    //===============================================

    $('.searchbutton').click(function (e) {

        e.preventDefault();
		event.stopPropagation();
        $(this).parent().parent().addClass('sb-search-open');
    });

    $('.sb-search-submit').click(function (e) {
        console.log("submit");
        if ($(this).parent().find('.sb-search-input').val() != "") {

            $(this).parent().submit();
        }
        $(this).parent().parent().removeClass('sb-search-open');
    });

    window.addEventListener("resize",ResizeAccountFunctionUlWidth());

    function ResizeAccountFunctionUlWidth(){
        $('#accountfunction').width($('#accountimginfo').outerWidth());
    }

    function SlideDownFunction() {
		event.stopPropagation();
        if ($('#accountfunction').css("display") == 'none') {
            $('#accountNoticeList').fadeOut(300);
            $('#accountNoticeList li').removeClass('notreadnotice');
            $('#accountNoticeList li').addClass('readnotice');
            $('#accountfunction').fadeIn(300);
        }
        else {
            $('#accountfunction').fadeOut(300);
        }
    }

    //設定ScrollTopButton
    $('#scrollTopButton').hover(function () {
        $('#arrowup2').css('visibility', 'visible');
        $('#arrowup1').css('visibility', 'visible');
    }, function () {
        $('#arrowup1').css('visibility', 'hidden');
        $('#arrowup2').css('visibility', 'hidden');
    });

    $(window).scroll(function () {
        if (window.pageYOffset > 200) {
            $('.scrollTopArea').fadeIn();
        }
        else
            $('.scrollTopArea').fadeOut();
    });

    function ScrollTop() {
        $('html,body').animate({ scrollTop: 0 }, 600);
    }

    //設定通知
    function SlideDownNotice() {
        event.stopPropagation();
        if ($('#accountNoticeList').css("display") == 'none') {
            $('#accountfunction').fadeOut(300);
            $('#accountNoticeList').fadeIn(300,function () {
                $('#accountNoticeList').animate({ scrollTop: 0 }, 300);
            });
            if($('#accountNoticeNumber').css('display') == 'block'){
                PostAjaxSetAllMessagesWereRead();
            }
        }
        else {
            $('#accountNoticeList').fadeOut(300);
            $('#accountNoticeList li').removeClass('notreadnotice');
            $('#accountNoticeList li').addClass('readnotice');
        }
    }

    function PostAjaxSetAllMessagesWereRead(){
        $.ajax({
            type:"POST",
            url:"/Account/SetAllMessagesWereRead",
            data:{userId: $('#userId').text()},
            dataType:"json"
        }).success(function (result){
            //ShowNotify(result.result,result.message);
        }).error(function(error){
            console.log(error);
        });
        $('#accountNoticeNumber').fadeOut();
    }

    document.addEventListener('click', function (ev) {
        $('#accountNoticeList').fadeOut(300);
        $('#accountNoticeList li').removeClass('notreadnotice');
        $('#accountNoticeList li').addClass('readnotice');
        $('#accountfunction').fadeOut(300);
        $('.sb-search').removeClass('sb-search-open');
    });

    //S版面FooterUL下拉功能
    $('.footer-grid').click(function () {
        if ($('body').width() < 640) {
            $(this).find('.footerularea').slideToggle(300);
        }
    });

    $('#accountNoticeList').hover(function () {
        $(this).removeClass('hidescrollbar');
    },function () {
        $(this).addClass('hidescrollbar');
    });
</script>